uvicorn==0.22.0
loguru==0.6.0
pypdfium2==4.24.0
requests==2.31
pydantic==1.10.5
path==15.1.2
gunicorn==20.1.0
supervisor==4.2.1
fastapi==0.99.0
diskcache==5.6.3
playwright==1.44.0
treelib==1.7.0
mysql-connector-python==8.4.0
llama-index==0.10.38
llama-index-llms-dashscope==0.1.2
llama-index-indices-managed-dashscope-custom==0.1.1